.spaced-input {
    margin: 1em 0;
}

.spaced-input > input, select {
    width: 15em;
}

.parent-container {
    width: 100%;
    clear: left;
}

.hiddenChoices {
    display: none;
}

.container {
    float: left;
    padding: 1em;
}

.container p {
    width: 800px;
    word-wrap: break-word;
}
h1{
    color:black;
}
body{ 
        background-image:url("https://cdn.elegantthemes.com/blog/wp-content/uploads/2013/09/bg-2-full.jpg");
        }
        #left, #right{
                border-radius: 15px;
                border: 2px outset #D9D9D9;
                background-image: url("http://www.gapidraw.com/temp/MainMenu1024.png");
                background-size: auto;
                padding: 20px;
                margin: 30px;
                display: inline-block;
                box-sizing: border-box;
                width: 45%;
                font-size: 160%;
                
                
            }
        #left{
            margin-reight: 50px;
            margin-top: 75px;
            height: 450px;
            position: static;
        }
        #right{
            height: 450px;
            position: relative;
        }
        #result{
            border-radius: 15px;
            border: 2px outset #D9D9D9;
            background-image: url("http://www.gapidraw.com/temp/MainMenu1024.png");
            background-size: auto;
            padding: 20px;
            display: inline-block;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
    }