body {
    background-image: url("http://i.imgur.com/ewkc2q2.jpg");
}

h1 {
    padding: 0;
    margin: 0;
}

.spaced-input {
    margin: 0.2em 0;
}

.spaced-input > input, select {
    width: 15em;
}

.hiddenChoices {
    display: none;
}

.parent-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.container {
    background: url("http://www.gapidraw.com/temp/MainMenu1024.png") ;
    background-size: auto 100%;
    border-radius: 15px;
    border: 2px outset #D9D9D9;
    float: left;
    padding: 30px 30px 0 30px;
    box-sizing: border-box;
    margin: 30px 30px;
    width: 600px;
    max-width: 42%;
    min-height: 350px;
    font-size: 160%;
}

.container p {
    word-wrap: break-word;
}

#result {
    max-width: 100%;
    width: 100%;
    min-height: 200px;
}

#listings {
    max-width: 100%;
    width: 100%;
    min-height: 200px;
}
